body
{
	background-image: url('/images/background.jpg');
	font-family:'Raleway',sans-serif;
	font-weight : 400;
	color: #f5a9cc;
	letter-spacing: 1px;
    border-top-right-radius: 12px;
   	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius:12px;
}
.container{
	background-color :#f5a9cc;
	box-shadow: #1a253f;
	float:left;

}

.container-time{
	background-color: #1a253f;
	padding: 50px;
	outline: 3px dashed #f5a9cc;
	outline-offset: -30px;
	text-align : center;

}

.heading{
	font-size:35px;
	text-transform:uppercase;

}

.heading-days{
	color:#f5a9cc;
	font-size: 30px;
}

.heading-blue{
	color:#1a253f;
	font-size: 30px;
	text-transform:uppercase;
	
}
.container-form{
	background-color: rgb(253, 234, 211);
	/*padding:20px 0px;*/
    color: #1a253f;
    margin-top:20px;
    margin-left:500px;
    margin-bottom:100px;
    float:center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:50px;
    padding-right:50px;
	/*outline-offset: -30px;*/
    text-align : center;
    width:900px;
    height:auto;
}

/*form
{
	color:#1a253f;
	float:inherit;
	outline-offset:30px;
	text-align : center;
	padding:50px;
	padding-top: 170px;
	padding-right: 80px;
	
}*/

input,select{
    padding: 10px 15px;
    height:60px;
	
}


.btn{
	
	background-color:#1a253f;
	color: #f5a9cc;
	padding: 10px 20px;
	border: none;
	font-size:18px;
	border-radius:100px;

}


