
body{
    font-family: 'Raleway', sans-serif;
      background:pink;
    border-top-right-radius: 12px;
   	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius:12px;
}

.background{
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    padding-left:130px;
	padding-right: 130px;
	padding-bottom: 80px;
	padding-top: 80px;
    height: 100em;
    display: block;
}

.text{
    margin-top: 45px;
     margin-left: 10%;
    font-weight: 300;
    
}
.box{
    margin-top: 45px;
    margin-left: 25%;
    
}


.text h1{
    font-size: 70px;
    color: #1a253f;
    font-weight: 500;
}

.text p{
    font-size: 20px;
    color: #1a253f;
    font-weight: 300;
}

.text p a{
    color: #1a253f;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #1a253f;
    box-sizing: border-box;
    display: block;
    direction: inherit;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #1a253f;
    font-family: 'Raleway', sans-serif;
}

.username, .password{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1px solid #fff;
    color:#1a253f;
    font-size: 18px;
}

.button:hover{
    background: #fff;
    color: #000;
}

.logo img{
	float:left;
	position:absolute;
	top: 27px;
	width:150px;;
	height:150px; 
	padding: 5px;
}
